<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>占い</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='uranai.css') }}">
</head>
<body>
    <main>
        <h1>占い</h1>
        <form action="/uranai/play" method="POST">
        <p class= birthday>
            <label>生年月日: </label>
            <input type="date" id="your_birthday" name="birthday" min="1900-01-01" pattern="\d{4}-\d{2}-\d{2}">
        </p>
        <p class="name">
            <label>名前: </label>
            <input type="text" id="your_name" name="name">
        </p>
        <button type="submit">占う</button>
        </form>
    </main>
</body>
</html>